ConfirmModal {
    align: center middle;               
    background: $background 45%;        
}

ConfirmModal Vertical.dialog {
    width: auto;
    height: auto;
    min-width: 40;
    max-width: 100;
    max-height: 20;
    padding: 2 3;
    background: $panel;
    border: round rgb(0, 255, 106);
    border-title-align: center;
    border-title-color: rgb(0, 255, 106);
    box-sizing: border-box;
}

.dialog Label.title {
    width: 100%;
    text-align: center;
    text-style: bold;
    align: center top;
    margin-bottom: 1;
    color: rgb(0, 255, 106);
    border: round rgb(0, 255, 106);
}

.dialog Label.message {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 3;
    margin-bottom: 3;
    color: $text-muted;
}

.dialog .buttons {
    width: 100%;
    height: auto;
    layout: horizontal;
    align: center middle;
    margin-top: 1;
}

.dialog Button {
    width: auto;
    min-width: 14;
    margin: 0 2;
}

.dialog Button#yes {
    background: $success;
}

.dialog Button#no {
    background: $error;
}
