MessageBox {
    align: center middle;               
    background: $background 45%;        
}

/*
==============================================================================
                                WINDOW FORMATS
==============================================================================
*/

MessageBox Vertical.mb-dialog {
    width: auto;
    height: auto;
    min-width: 60;
    max-width: 100;
    max-height: 20;
    padding: 2 3;
    background: $panel;
    border-title-align: center;
    box-sizing: border-box;
}

MessageBox Vertical#mb-dialog-normal {
    border: round rgb(0, 162, 255);
    border-title-color: rgb(0, 162, 255);
}

MessageBox Vertical#mb-dialog-error {
    border: round rgb(255, 0, 0);
    border-title-color: rgb(255, 0, 0);
}

MessageBox Vertical#mb-dialog-warning {
    border: round rgb(255, 255, 0);
    border-title-color: rgb(255, 255, 0);
}

MessageBox Vertical#mb-dialog-success {
    border: round rgb(0, 255, 106);
    border-title-color: rgb(0, 255, 106);
}

/*
==============================================================================
                                TITLE FORMATS
==============================================================================
*/

.mb-dialog Label.mb-title-normal {
    width: 100%;
    text-align: center;
    text-style: bold;
    align: center top;
    margin-bottom: 1;
    color: rgb(0, 162, 255);
    border: round rgb(0, 162, 255);
}

.mb-dialog Label.mb-title-success {
    width: 100%;
    text-align: center;
    text-style: bold;
    align: center top;
    margin-bottom: 1;
    color: rgb(0, 255, 106);
    border: round rgb(0, 255, 106);
}

.mb-dialog Label.mb-title-warning {
    width: 100%;
    text-align: center;
    text-style: bold;
    align: center top;
    margin-bottom: 1;
    color: rgb(255, 255, 0);
    border: round rgb(255, 255, 0);
}

.mb-dialog Label.mb-title-error {
    width: 100%;
    text-align: center;
    text-style: bold;
    align: center top;
    margin-bottom: 1;
    color: rgb(255, 0, 0);
    border: round rgb(255, 0, 0);
}

/*
==============================================================================
                                MESSAGE FORMATS
==============================================================================
*/

.mb-dialog Label.mb-message {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 3;
    margin-bottom: 3;
    color: $text-muted;
}

/*
==============================================================================
                                BUTTONS FORMATS
==============================================================================
*/

.mb-dialog .mb-buttons {
    width: 100%;
    height: auto;
    layout: horizontal;
    align: center middle;
    margin-top: 1;
}

.mb-dialog Button {
    width: auto;
    min-width: 14;
    margin: 0 2;
}

.mb-dialog Button.mb-button-normal {
    background: rgb(0, 162, 255);
    color: rgb(0, 0, 0)
}

.mb-dialog Button.mb-button-success {
    background: rgba(0, 255, 106, 0.753);
    color: rgb(0, 0, 0)
}

.mb-dialog Button.mb-button-warning {
    background: rgb(255, 255, 0);
    color: rgb(0, 0, 0)
}

.mb-dialog Button.mb-button-error {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0)
}
