#main-log {
    height: 100%;
    background: $surface;
    border: tall $accent;
    overflow-x: hidden;
}

#status-bar {
    dock: bottom;
    height: 1;
    background: $primary-darken-2;
    content-align: center middle;
    color: white;
}

Button {
    margin: 1;
    width: 100%;
}

#btn-exit {
    margin-top: 2;
    margin-bottom: 1;
    margin-left: 1;
    margin-right: 1;
    width: 100%;
    background: $error;
    color: white;
}