
#status-bar {
    dock: bottom;
    height: 1;
    background: $primary-darken-2;
    content-align: center middle;
    color: white;
}

Button {
    margin: 1;
    width: 100%;
}

#btn-exit {
    margin-top: 2;
    margin-bottom: 1;
    margin-left: 1;
    margin-right: 1;
    width: 100%;
    background: $error;
    color: white;
}

#actions-container {
    height: 100%;
    background: $surface;
    border: tall $accent;
    padding: 1;
}

#system, #security, #menu-special-actions {
    background: $panel;
    border: round rgb(120, 220, 255);

    padding: 1;
    margin: 1;
    height: 90%;
}

.menu-section-title {
    width: 100%;
    content-align: center middle;
    text-style: bold;

    /* Cian suave */
    color: rgb(120, 220, 255);

    /* Fondo oscuro para contraste */
    background: $panel-darken-2;

    /* Borde redondeado */
    border: round rgb(120, 220, 255);

    /* Espaciado */
    padding: 1;
    margin-top: 0;
    margin-bottom: 1;
}



