#settings-container {
    height: 100%;
    background: $surface;
    border: tall $accent;
    padding: 1;
}

#booleans, #integers, #special-actions {
    background: $panel;
    border: round rgb(120, 220, 255);

    padding: 1;
    margin: 1;
    height: 90%;
}


.section-title {
    width: 100%;
    content-align: center middle;
    text-style: bold;

    /* Cian suave */
    color: rgb(120, 220, 255);

    /* Fondo oscuro para contraste */
    background: $panel-darken-2;

    /* Borde redondeado */
    border: round rgb(120, 220, 255);

    /* Espaciado */
    padding: 1;
    margin-top: 0;
    margin-bottom: 1;
}


.setting-row {
    layout: horizontal;
    height: auto;
    margin: 1 0;
    align: center middle;
    border: round rgb(120, 220, 255);
    background: black;
}

.setting-label {
    width: 25;
    min-width: 25;
    content-align: center middle;
    margin-top: 1;
    margin-right: 2;
    color: rgb(120, 220, 255);
}

.input-form {
    text-align: center;
}




Input {
    width: 18;
    min-width: 12;
}

Checkbox {
    margin: 0 0 0 1;
}

Button {
    margin: 1;
    width: 100%;
}

#btn-exit {
    margin-top: 2;
    width: 100%;
    background: $error;
    color: white;
}